# Building an Agent

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Courses/Ryerson/8008/Sesssion10')

## Importing necessary libraries

In [ ]:
import pandas as pd
import json
import duckdb
from pydantic import BaseModel, Field
from IPython.display import Markdown

## Defining the tools

it contains the transaction data.

In [ ]:
DATA = 'data/Store_Sales_Price_Elasticity_Promotions_Data.parquet'

In [ ]:
df=pd.read_parquet(DATA)
df.

,Store_Number,SKU_Coded,Product_Class_Code,Sold_Date,Qty_Sold,Total_Sale_Value,On_Promo
0,1320,6172800,22875,2021-11-02,3,56.849998,0
1,2310,6172800,22875,2021-11-03,1,18.950001,0
2,3080,6172800,22875,2021-11-03,1,18.950001,0
3,2310,6172800,22875,2021-11-06,1,18.950001,0
4,4840,6172800,22875,2021-11-07,1,18.950001,0

Creates the SQL table from a local file, if not already done.

In [ ]:
SQL_GENERATION_PROMPT = """
Generate an SQL query based on a prompt. Do not reply with anything besides the SQL query.
The prompt is: {prompt}

The available columns are: {columns}
The table name is: {table_name}
"""

In [ ]:
!pip install groq

Requirement already satisfied: groq in /usr/local/lib/python3.11/dist-packages (0.20.0)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from groq) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from groq) (2.10.6)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.11/dist-packages (from groq) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.5.0->groq) (3.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (2.27.2)

In [ ]:
# USE your own key from groq
os.environ['GROQ_API_KEY'] = '?????????'
MODEL="llama-3.3-70b-versatile"
import os
from groq import Groq
client = Groq(
    api_key=os.environ.get("GROQ_API_KEY"),
)


q="What is the temperature ?"
context="it is 25 degree today"

chat_completion = client.chat.completions.create(
    messages=[
        {
            "role": "user",
            "content": f"Query:{q} Context :{context}",
        }
    ],
    model="llama-3.3-70b-versatile",
    #model="deepseek-r1-distill-llama-70b"
  )

pred=chat_completion.choices[0].message.content
print(pred)

The temperature is 25 degrees today.

In [ ]:
def generate_sql_query(prompt: str, columns: list, table_name: str) -> str:
    """Generate an SQL query based on a prompt"""
    formatted_prompt = SQL_GENERATION_PROMPT.format(prompt=prompt,
                                                    columns=columns,
                                                    table_name=table_name)
    print(formatted_prompt)
    response = client.chat.completions.create(
        messages=[{"role": "user", "content": formatted_prompt}],
        model=MODEL,
    )

    return response.choices[0].message.content

In [ ]:
def lookup_sales_data(prompt: str) -> str:
    """Implementation of sales data lookup from parquet file using SQL"""
    try:

        # define the table name
        table_name = "sales"

        # step 1: read the parquet file into a DuckDB table
        df = pd.read_parquet(DATA)
        duckdb.sql(f"CREATE TABLE IF NOT EXISTS {table_name} AS SELECT * FROM df")

        # step 2: generate the SQL code
        sql_query = generate_sql_query(prompt, df.columns, table_name)
        print(sql_query)
        # clean the response to make sure it only includes the SQL code
        sql_query = sql_query.strip()
        sql_query = sql_query.replace("```sql", "").replace("```", "")

        # step 3: execute the SQL query
        result = duckdb.sql(sql_query).df()

        return result.to_string()
    except Exception as e:
        return f"Error accessing data: {str(e)}"

In [ ]:
#example_data = lookup_sales_data("Show me all the sales for store 4840 on November 1st sort by date ")
example_data = lookup_sales_data("List Stores (Store_number) and their count ")


print(example_data)

Generate an SQL query based on a prompt. Do not reply with anything besides the SQL query.
The prompt is: List Stores (Store_number) and their count

The available columns are: Index(['Store_Number', 'SKU_Coded', 'Product_Class_Code', 'Sold_Date',
       'Qty_Sold', 'Total_Sale_Value', 'On_Promo'],
      dtype='object')
The table name is: sales

```sql
SELECT Store_Number, COUNT(*)
FROM sales
GROUP BY Store_Number;
```
    Store_Number  count_star()
0           1320         30131
1           3080         25225
2           4840         21614
3            330         21452
4           2090         16937
5           1650         29313
6            880         22780
7           1210         27725
8           1760         19642
9           2640         17496
10          3190         17019
11           550         13824
12          2750         24149
13          1980         13898
14          1100         25636
15          4070         17265
16          1540         23858
17          4730         13215
18          4180         14725
19          3300         30084
20          2310         22593
21          2200         20083
22          2420         21457
23          2970         35401
24          3410         21544
25          3630         21130
26          1870         22112
27           990         19745
28          3740         18243
29           660         19188
30           770         16044
31          2530         17447
32          2860          6811
33          3520          7877
34          4400          2231

### Tool 2: Data Analysis

The second tool can analyze the returned data and display conclusions to users.

<img src="images/tool2.png" width="300"/>

In [ ]:
DATA_ANALYSIS_PROMPT = """
Analyze the following data: {data}
Your job is to answer the following question: {prompt}
"""

In [ ]:
# code for tool 2
def analyze_sales_data(prompt: str, data: str) -> str:
    """Implementation of AI-powered sales data analysis"""
    formatted_prompt = DATA_ANALYSIS_PROMPT.format(data=data, prompt=prompt)
    print(formatted_prompt)

    response = client.chat.completions.create(
        model=MODEL,
        messages=[{"role": "user", "content": formatted_prompt}],
    )
    analysis = response.choices[0].message.content
    return analysis if analysis else "No analysis could be generated"

This tool is relatively simple, but let's still test it out to be sure things are working correctly.

In [ ]:
print(analyze_sales_data(prompt="what trends do you see in this data",
                         data=example_data))

Analyze the following data:     Store_Number  count_star()
0           1320         30131
1           3080         25225
2           4840         21614
3            330         21452
4           2090         16937
5           1650         29313
6            880         22780
7           1210         27725
8           1760         19642
9           2640         17496
10          3190         17019
11           550         13824
12          2750         24149
13          1980         13898
14          1100         25636
15          4070         17265
16          1540         23858
17          4730         13215
18          4180         14725
19          3300         30084
20          2310         22593
21          2200         20083
22          2420         21457
23          2970         35401
24          3410         21544
25          3630         21130
26          1870         22112
27           990         19745
28          3740         18243
29           660         19188
30           770         16044
31          2530         17447
32          2860          6811
33          3520          7877
34          4400          2231
Your job is to answer the following question: what trends do you see in this data

Based on the provided data, which appears to be a count of some kind (likely customer or transaction count) across different store numbers, several trends and observations can be made:

1. **Variability in Counts**: The counts (`count_star()`) vary significantly across different store numbers, ranging from as low as 2231 (Store 4400) to as high as 35401 (Store 2970). This suggests that some stores are much more active or popular than others.

2. **No Clear Pattern with Store Numbers**: At first glance, there doesn't seem to be a straightforward correlation between the store number and the count. Stores with both low and high numbers have varying counts, suggesting that the store number itself may not be a determining factor in the activity level.

3. **Clusters of Activity**: While there's no clear linear relationship between store numbers and counts, there are clusters of stores with high counts. For example, stores like 1320, 1650, 2970, and 3190 (noting that 3190 has a relatively lower count compared to the others mentioned but is still higher than many) have counts that are among the highest. This could indicate geographic or demographic factors that influence store activity.

4. **Stores with Low Activity**: Conversely, stores like 4400, 2860, 3520, and to a lesser extent, 770 and 990, have significantly lower counts. This could be due to various factors including location, size, marketing efforts, or the local competition and economy.

5. **Potential for Geographic or Demographic Factors**: The significant variation in counts could be influenced by geographic or demographic factors. For instance, stores in urban areas might have higher counts than those in rural areas, or stores in areas with higher population densities or specific demographic profiles might perform better.

6. **Outliers and Anomalies**: Stores 2970 and 4400 are notable outliers, with the highest and lowest counts, respectively. Investigating these stores further could reveal unique circumstances or strategies that might be applicable to other stores.

7. **Middle Ground**: Many stores fall into a middle range of counts (roughly between 15,000 to 25,000), suggesting a baseline level of activity that might be typical for the majority of stores, with variations due to specific local factors.

To further analyze these trends, it would be beneficial to have additional data, such as:
- Geographic locations of the stores
- Demographic data of the areas where the stores are located
- Store sizes or types (e.g., urban vs. rural, large vs. small)
- Marketing efforts and local competition
- Time of year or seasonal data to see if counts fluctuate regularly

This additional context could help in understanding the underlying causes of the observed trends and potentially identifying strategies to improve performance across all stores.